body {
  background-color: #f5f5f5;
  text-align: center;
  font-family: Tahoma;
}

div {
  border-top: 1px solid #d5d5d5;
  margin-bottom: 40px;
  font-family: Tahoma;
}
  
h1 {
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}

img {
  width: 190px;
}

h2 {
  font-size: 24px;
  text-align: center;
}

p {
  line-height: 28px;
  width: 930px;
  margin-left: auto;
  margin-right: auto;
}

a {
  background-color: #49b970;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  padding: 10px;
  border-radius: 20px;
  padding-left: 30px;
  padding-right: 30px;
}

h3 {
  font-size: 20px;
}

span {
  font-weight: bold;
}